--API--
fastapi 
uvicorn
--DB--
sqlalchemy
pymysql
redis
--NLP--
spacy
nltk
--ML--
torch
transformers
scikit-learn
--Speech--
openai-whisper
librosa
--TTS--
gtts
--Validation--
pydantic
--Async--
aiofiles
httpx
